<launch>
    <param name="robot_description"
           command="$(find xacro)/xacro $(find swingarm_v2_config)/description/urdf/robot.xacro"/>

    <param name="swingarm_v2_description"
           command="$(find xacro)/xacro $(find swingarm_v2_config)/description/urdf/robot.xacro"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find manipulator_gazebo)/world/empty_world.world"/>
        <arg name="paused" value="true"/>
    </include>
    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
          output="screen"
          args="-param swingarm_v2_description -urdf -model swingarm_v2
        -z 0.
        "
    />
<!--for humanoid arm -->
<!--    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"-->
<!--          output="screen"-->
<!--          args="-param swingarm_v2_description -urdf -model swingarm_v2-->
<!--        -z 0.6 -P 1.57-->
<!--        "-->
<!--    />-->
</launch>